.hero-unit
  h1 'Allo, 'Allo!
  p You now have
  ul
    li(ng-repeat='thing in awesomeThings') {{thing}}
  p installed.

  a(href='#/test')  test
  p 

  button.btn.btn-default(class='btn-primary') Left
  button.btn.btn-primary(type='button') Primary

  //- input#notMe(value='5')
  //- script(type='text/javascript', src='js/jq.js')
  //- script(type='text/javascript', src='components/bootstrap/dist/js/bootstrap.js')