.hero-unit
  h1 'Allo, 'Allo!
  p You now have
  ul
    li(ng-repeat='thing in awesomeThings1') {{thing}}
  p installed.
  
  a(href='#/')  back
  p

  //- input#notMe(value='5')
  //- script(type='text/javascript', src='js/jq.js')